
extends ../_template

block variables
  - var title = 'Мои работы'
block content
  include ../common/topsection.pug
  section.mywork
    .work-title
      .block-subtitle МОИ РАБОТЫ
    .maincontent
      .widget
        .widget__about-work
          .about-work__block.work__block-mywork
            ul.about-work__list
              -
                var sitesInfo = [
                  ['САЙТ ШКОЛЫ ОНЛАЙН ОБРАЗОВАНИЕ','HTML, CSS3, JAVASCRIPT'],
                  ['САЙТ 2','HTML, CSS3, JAVASCRIPT'],
                  ['САЙТ 3','NODE, CSS3, JAVASCRIPT'],
                  ['САЙТ 4','PYTON, CSS3, JAVASCRIPT'],

                ]
              each info, index in sitesInfo
                li.slider__list-item(class=(index == 2 ? 'slide__list-item--active' : ''))
                  .about-work__block
                    .block-subtitle #{info[0]}
                    .about-work__tech #{info[1]}
                    a.about-work__button-link(href="")
                      .about-work__button Посмотреть сайт
        .widget__workpreview
          .slider__preview            
            ul.widget__worklist
              li.slider__list-item
                img.widget__worklist-img(src=require('./img/work-4.png'))
                span.slide__number 4
              li.slider__list-item.slide__list-item--active
                img.widget__worklist-img(src=require('./img/work-3.png'))
                span.slide__number 3               
              li.slider__list-item
                img.widget__worklist-img(src=require('./img/work-2.png'))
                span.slide__number 2               
              li.slider__list-item
                img.widget__worklist-img(src=require('./img/work-1.png'))
                span.slide__number 1               
                
        .widget__controls
          .slider__controls            
            .slider__controls-block
              ul.slider__downList              
                li.slider__list-item
                  img.slider__item-img(src=require('./img/work-1.png'))
                  span.slide__number 1                 
                li.slider__list-item.slide__list-item--active
                  img.slider__item-img(src=require('./img/work-2.png'))
                  span.slide__number 2
                li.slider__list-item
                  img.slider__item-img(src=require('./img/work-3.png'))
                  span.slide__number 3                  
                li.slider__list-item
                  img.slider__item-img(src=require('./img/work-4.png'))
                  span.slide__number 4                  
              .controls__arrow-down
          .slider__controls
            .slider__controls-block          
              ul.slider__upList
                li.slider__list-item.slide__list-item--active
                  img.slider__item-img(src=require('./img/work-4.png'))
                  span.slide__number 4                  
                li.slider__list-item
                  img.slider__item-img(src=require('./img/work-3.png'))
                  span.slide__number 3                  
                li.slider__list-item
                  img.slider__item-img(src=require('./img/work-2.png'))
                  span.slide__number 2                  
                li.slider__list-item
                  img.slider__item-img(src=require('./img/work-1.png'))
                  span.slide__number 1                  
              .controls__arrow-up
  section.whatsay
    .wahtsay-block
      .section-title.whatsay__title ЧТО ОБО МНЕ ГОВОРЯТ
    .whatsay__opinion
      ul.opinion-list
        li.opinion-list__item 
          .opinion-ava
            img.opinion-ava-img(src=require('./img/opinion-ava1.png'))
          .opinion-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          .opinion-sign
            .opinion-sign__name Ковальчук Дмитрий
            .opinion-sign__position — основатель Loftschool
        li.opinion-list__item 
          .opinion-ava
            img.opinion-ava-img(src=require('./img/opinion-ava1.png'))
          .opinion-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
          .opinion-sign
            .opinion-sign__name Ковальчук Дмитрий
            .opinion-sign__position — основатель Loftschool
    .feedback.whatsay__feedback
      .feedback-title
        .block-subtitle Связаться со мной
      form.feedback-form
        input.feedback__edit(placeholder="Имя")
        input.feedback__edit(placeholder="Email")
        textarea.feedback__text(placeholder="Ваше сообщение")
      ul.buttons.buttons__feedback
          li.buttons__item.button__item-feedback Отправить
          li.buttons__item.button__item-feedback Очистить          
    include ../common/footer.pug  