
extends ../_template

block variables
  - var title = 'VUE TEST'
block content
  section.mywork
    .work-title
      .block-subtitle МОИ РАБОТЫ
    .maincontent  
      #app
        widget-about(:info='sitesInfo')    
    
    script(type = "text/x-template" id = "widget-about-left")
      .widget
        .widget__about-work
          .about-work__block.work__block-mywork    
            ul.about-work__list
              li.slider__list-item(v-for="(siteInfo, index) in info" :class="{'slide__list-item--active': index == 1}")
                .about-work__block
                  .block-subtitle {{siteInfo[0]}}
                  .about-work__tech {{siteInfo[1]}}
                  a.about-work__button-link(href="")
                    .about-work__button Посмотреть сайт    
        .widget__workpreview
          .slider__preview            
            ul.widget__worklist
              li.slider__list-item
                img.widget__worklist-img(src=require('./img/work-4.png'))
                span.slide__number 4
              li.slider__list-item.slide__list-item--active
                img.widget__worklist-img(src=require('./img/work-3.png'))
                span.slide__number 3               
              li.slider__list-item
                img.widget__worklist-img(src=require('./img/work-2.png'))
                span.slide__number 2               
              li.slider__list-item
                img.widget__worklist-img(src=require('./img/work-1.png'))
                span.slide__number 1               
        .widget__controls
            .slider__controls            
              .slider__controls-block
                ul.slider__downList              
                  li.slider__list-item
                    img.slider__item-img(src=require('./img/work-1.png'))
                    span.slide__number 1                 
                  li.slider__list-item.slide__list-item--active
                    img.slider__item-img(src=require('./img/work-2.png'))
                    span.slide__number 2
                  li.slider__list-item
                    img.slider__item-img(src=require('./img/work-3.png'))
                    span.slide__number 3                  
                  li.slider__list-item
                    img.slider__item-img(src=require('./img/work-4.png'))
                    span.slide__number 4                  
                .controls__arrow-down
            .slider__controls
              .slider__controls-block          
                ul.slider__upList
                  li.slider__list-item.slide__list-item--active
                    img.slider__item-img(src=require('./img/work-4.png'))
                    span.slide__number 4                  
                  li.slider__list-item
                    img.slider__item-img(src=require('./img/work-3.png'))
                    span.slide__number 3                  
                  li.slider__list-item
                    img.slider__item-img(src=require('./img/work-2.png'))
                    span.slide__number 2                  
                  li.slider__list-item
                    img.slider__item-img(src=require('./img/work-1.png'))
                    span.slide__number 1                  
                .controls__arrow-up